*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* utility classes */


/* flex classes start */

.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.align-between{
    align-items: space-between;
}
.align-around{
    align-items: space-around;
}
.align-evenly{
    align-items: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}

/* flex classes end */


/* margin classes start */
.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 30px;
}
.mt-6{
    margin-top:60px ;
}
.mb-1{
    margin-bottom: 10px;
}

.ml{
    margin-left: 40px;
}
.ml1{
    margin-left: 10px;
}
.ml2{
    margin-left: 800px;
}

.mr{
    margin-right: 10px;
}
.mr1{
    margin-right: 20px;
}
.mx{
    margin-left: 150px ;
    margin-right: 150px ;
}
/* margin classes end */
/* background color */
.bg-light{
    background-color: #ffffff;
}
.bg-dark{
    background-color: #000000;
}
.bg-grey{
    background-color: #0f0f0f;
}

.center{
    text-align: center;
}

/* border radius  */
.rounded{
    border-radius: 30px;
}
.rounded-sm{
    border-radius: 10px;
}
.rounded-md{
    border-radius: 20px;
}

/* text color  */
.text-dark{
    color: #000000;
}
.text-light{
    color: #ffffff;
}
.text-grey{
    color: rgba(255, 255, 255, 0.7);
}

.transparent{
    background-color: transparent;
}
.bk-color{
    background-color: #0f0f0f ;
}

.img-style{
    width: 300px;
    height: 300px;
}

.text-align{
    text-align: center;
}
.af{
    display: block;
}
.gap{
    line-height: 35px;
}

.gap-1{
    line-height: 25px;
}

/* card styling */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
   background-color: #0f0f0f;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  /* publications image hover */
  .zoom {
    padding: 32px 0px 40px;
    transition: transform .2s; /* Animation */
    width: 400px;
    height: 400px;
    margin-bottom: 32px;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .borderhover{
    border: 2px solid white;
    padding: 50px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }